
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 30 41% 92%;
    --foreground: 353 59% 31%;

    --card: 0 0% 100%;
    --card-foreground: 353 59% 31%;

    --popover: 0 0% 100%;
    --popover-foreground: 353 59% 31%;

    --primary: 353 75% 80%;
    --primary-foreground: 355 59% 31%;

    --secondary: 20 36% 75%;
    --secondary-foreground: 355 59% 31%;

    --muted: 0 60% 96%;
    --muted-foreground: 353 10% 50%;

    --accent: 16 34% 85%;
    --accent-foreground: 353 59% 31%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 16 30% 80%;
    --input: 16 30% 80%;
    --ring: 353 75% 80%;

    --radius: 0.8rem;

    --sidebar-background: 30 41% 92%;
    --sidebar-foreground: 353 59% 31%;
    --sidebar-primary: 353 75% 80%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 16 34% 85%;
    --sidebar-accent-foreground: 353 59% 31%;
    --sidebar-border: 16 30% 80%;
    --sidebar-ring: 353 75% 80%;
  }

  .dark {
    --background: 353 59% 31%;
    --foreground: 30 41% 92%;

    --card: 353 30% 25%;
    --card-foreground: 30 41% 92%;

    --popover: 353 30% 25%;
    --popover-foreground: 30 41% 92%;

    --primary: 353 75% 80%;
    --primary-foreground: 353 59% 31%;

    --secondary: 20 36% 75%;
    --secondary-foreground: 353 59% 31%;

    --muted: 353 30% 40%;
    --muted-foreground: 30 25% 80%;

    --accent: 16 34% 85%;
    --accent-foreground: 353 59% 31%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 353 30% 40%;
    --input: 353 30% 40%;
    --ring: 353 75% 80%;
    
    --sidebar-background: 353 30% 25%;
    --sidebar-foreground: 30 41% 92%;
    --sidebar-primary: 353 75% 80%;
    --sidebar-primary-foreground: 353 59% 31%;
    --sidebar-accent: 353 30% 40%;
    --sidebar-accent-foreground: 30 41% 92%;
    --sidebar-border: 353 30% 40%;
    --sidebar-ring: 353 75% 80%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
